In [1]:
# Import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)

In [2]:
# reading in csv
file_path = "C:\\Users\\Graduate School\\Downloads\\east_africa_final.csv"
east_df = pd.read_csv(file_path)
east_df.head(10)

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Entry Year,Crop Type,Year,Production Value (Tonnes),Production Value Flag,Yield Value (100 g/ha),Yield Value Flag,Yield Difference,Production Difference
0,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1961,370000.0,E,90244.0,E,0.0,0.0
1,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1962,370000.0,E,90244.0,E,0.0,0.0
2,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1963,370000.0,E,90244.0,E,0.0,0.0
3,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1964,390000.0,E,90698.0,E,454.0,20000.0
4,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1965,390000.0,E,90698.0,E,0.0,0.0
5,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1966,390000.0,E,90698.0,E,0.0,0.0
6,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1967,400000.0,E,90909.0,E,211.0,10000.0
7,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1968,400000.0,E,90909.0,E,0.0,0.0
8,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1969,400000.0,E,90909.0,E,0.0,0.0
9,29,'108,Burundi,125,'01520.01,"Cassava, fresh",0,Roots,1970,370300.0,A,90317.0,I,-592.0,-29700.0

In [3]:
east_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2440 entries, 0 to 2439
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area Code                  2440 non-null   int64
 1   Area Code (M49)            2440 non-null   object
 2   Area                       2440 non-null   object
 3   Item Code                  2440 non-null   int64
 4   Item Code (CPC)            2440 non-null   object
 5   Item                       2440 non-null   object
 6   Entry Year                 2440 non-null   int64
 7   Crop Type                  2440 non-null   object
 8   Year                       2440 non-null   int64
 9   Production Value (Tonnes)  2440 non-null   float64
 10  Production Value Flag      2440 non-null   object
 11  Yield Value (100 g/ha)     2440 non-null   float64
 12  Yield Value Flag           2440 non-null   object
 13  Yield Difference           2440 non-null   float64
 14  Production Difference      2440 non-null   float64
dtypes: float64(4), int64(4), object(7)
memory usage: 286.1+ KB

In [4]:
east_df = east_df.rename(columns={
    'Yield Value (100 g/ha)': 'Area Harvested (100 g/ha)',
    'Yield Value Flag': 'Area Harvested Flag',
    'Production Value Flag': 'Production Flag',
    'Yield Difference': 'Annual Area Harvested Change',
    'Production Difference': 'Annual Production Change'
})

east_df.tail(1)

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Entry Year,Crop Type,Year,Production Value (Tonnes),Production Flag,Area Harvested (100 g/ha),Area Harvested Flag,Annual Area Harvested Change,Annual Production Change
2439,181,'716,Zimbabwe,83,'0114,Sorghum,0,Cereal Grains,2021,128907.0,A,6972.0,A,589.0,-14148.0

In [18]:
import statsmodels.api as sm

# Creating a random effects model using the correct column names
model = sm.MixedLM.from_formula("Q('Annual Area Harvested Change') ~ Q('Entry Year')", east_df, groups=east_df["Area Code"])
result = model.fit()

# Printing the summary of the model
print(result.summary())

C:\Users\Graduate School\anaconda3\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\Graduate School\anaconda3\Lib\site-packages\statsmodels\regression\mixed_linear_model.py:2201: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(

                     Mixed Linear Model Regression Results
===============================================================================
Model:            MixedLM Dependent Variable: Q('Annual Area Harvested Change')
No. Observations: 2440    Method:             REML
No. Groups:       15      Scale:              88613528.5736
Min. group size:  61      Log-Likelihood:     -25781.3125
Max. group size:  183     Converged:          Yes
Mean group size:  162.7
----------------------------------------------------------------------------------
                        Coef.     Std.Err.      z       P>|z|    [0.025     0.975]
----------------------------------------------------------------------------------
Intercept              474.474     214.025     2.217    0.027    54.993    893.955
Q('Entry Year')         -0.109       0.237    -0.461    0.645    -0.574      0.355
Group Var               63.835      57.756
===============================================================================